@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

* {
  color: white;
  font-family: "platypi", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #080000;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

h1 {
  text-align: center;
  margin-top: 7rem;
}

hr {
  color: grey;
  width: 100%;
}

.active {
  text-decoration: underline;
}

nav {
  background-color: #4dc2e3e7;
  position: fixed;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  margin-bottom: 1rem;
  z-index: 1;
}
#nav-bar {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav a {
  margin-right: 4rem;
  text-decoration: none;
  font-size: 130%;
  color: #ffffff;
}
nav a:hover {
  color: #e2a85d;
}

nav img {
  width: 100px;
  height: 40px;
  margin-top: 0.5rem;
}
nav img:hover {
  transform: scale(1.2);
}

#mobile-nav {
  width: 100%;
  text-align: right;
  margin-right: 2rem;
  display: none;
}
#menu-bars {
  margin-right: 1rem;
}
#menu-exit {
  margin-right: 1rem;
}
#mobile-nav i {
  color: white;
  font-size: 200%;
}

#mobile-nav {
  width: 100%;
  text-align: right;
  margin-right: 2rem;
  overflow: hidden; 
}

#mobile-sidebar {
  position: fixed; 
  margin-top: 1.5em;
  top: 2.5rem;
  right: 0;
  width: 100%; 
  background-color: #4dc2e3e7; 
  padding: 1rem; 
  transition: transform 0.3s ease-in-out; 
}

#mobile-sidebar ul {
  display: flex;
  flex-direction: column;
  margin: 0; 
  padding: 0; 
}

#mobile-sidebar li {
  margin-top: 1rem;
}
#menu-bars{
  margin-right: 2rem;
}
#menu-exit {
  margin-right: 2rem;
}

#menu-exit:hover {
  cursor: pointer; 
}


#introduction {
  text-align: center;
  margin-top: 6rem;
  animation: move-x;
  animation-duration: 1s;
}
#introduction span {
  color: #e2a85d;
}
#introduction p {
  padding: 0 10rem;
  font-size: 140%;
}
#introduction img {
  width: 200px;
  height: 150px;
  border-radius: 1rem;
}

@keyframes move-x {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes move-y {
  0% {
    transform: translatey(100vw);
  }
  100% {
    transform: translatey(0);
  }
}

#band-members {
  text-align: center;
  animation: move-y;
  animation-duration: 1s;
}
#members {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-bottom: 5rem;
}
.band-member img {
  width: 200px;
  height: auto;
  border-radius: 5rem;
}
.band-member p {
  max-width: 100%;
  width: 200px;
  padding: 0 5rem;
}

#introduction p,
.band-member p {
  box-sizing: content-box;
}

#about-rory {
  margin-bottom: 5rem;
  text-align: center;
  animation: move-x;
  animation-duration: 1s;
}
#about-rory img {
  width: 100%;
  width: 500px;
  height: auto;
  border-radius: 1rem;
}
#about-rory p {
  padding: 0 10rem;
}
#about-rory section {
  margin-top: 5rem;
}

#rory-strat-div {
  margin-top: 5rem;
  text-align: center;
}
#rory-strat {
  margin-bottom: 5rem;
  text-align: center;
  animation: move-x;
  animation-duration: 1s;
}
#rory-strat p {
  padding: 0 2rem;
}
#rory-strat img {
  width: 100%;
  height: auto;
}

#rory-band {
  animation: move-x;
  animation-duration: 1s;
  margin-top: 5rem;
  text-align: center;
}
#rory-band img {
  width: 50%;
  height: auto;
}
#rory-band {
  padding: 0 2rem;
}

#songs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 8rem;
  background-color: rgba(92, 72, 72, 0.329);
  animation: move-x;
  animation-duration: 2s;
}
#songs ul {
  width: 100vw;
}
#song h2 {
  margin-bottom: 5rem;
}

#form {
  animation: move-y;
  animation-duration: 2s;
}
#songs-list {
  max-width: 100%;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 5rem;
  list-style-type: none;
}
#songs-list li {
  margin-right: 1rem;
  margin-top: 1rem;
}
#songs-list li:hover {
  transform: scale(1.2);
}

#form {
  background-color: #513455;
  text-align: center;
  padding: 3rem 1rem;
  color: #080000;
  font-size: 150%;
}
#Favourite-Artist {
  font-size: 110%;
  color: #080000;
}
#submit {
  background-color: #fef7ff;
  color: #080000;
  padding: 1rem 1rem;
  font-size: 110%;
}
#submit:hover {
  transform: scale(1.2);
}

#my-song-choice {
  text-align: center;
  width: 100vw;
  max-width: 100%;
}
#my-song-choice iframe {
  text-align: center;
}
#bad-penny {
  display: none;
}
#shadowplay {
  display: none;
}
#phillby {
  display: none;
}
#messin-with-the-kid {
  display: none;
}

footer {
  background-color: #4dc2e3b2;
  width: 100%;
  padding-bottom: 0.5rem;
  bottom: 0;
  text-align: center;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}
footer li {
  list-style-type: none;
  margin-right: 1rem;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: orange;
}
@media screen and (max-width: 890px) {
  #mobile-nav {
    display: block;
  }
  #mobile-sidebar,
  #menu-exit,
  #desktop-nav {
    display: none;
  }

  #rory-band img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #mobile-nav {
    width: 100%;
    text-align: right;
    margin-right: 0rem;
    overflow: hidden; 
  }
  #mobile-sidebar ul {
    margin: 0 -3rem;
  }
}

@media screen and (max-width: 550px) {
  #introduction p {
    font-size: 100%;
    padding: 0 1rem;
  }
  #about-rory img {
    width: 90vw;
  }
  #about-rory p {
    padding: 0 2rem;
  }

  #mobile-nav {
    width: 100%;
    text-align: right;
    margin-right: 0rem;
    overflow: hidden; 
  }
  #mobile-sidebar ul {
    margin: 0 -3rem;
  }

  #rory-band p {
    padding: 0 0;
  }

  #form {
    background-color: #513455;
    text-align: center;
    padding: 3rem 1rem;
    color: #080000;
    font-size: 130%;
  }

  #my-song-choice iframe {
    width: 90%;
    text-align: center;
  }

  footer li {
    font-size: small;
  }
}

@media screen and (max-width: 320px) {
  
  #introduction img {
    width: 200px;
    height: 150px;
    border-radius: 1rem;
  }
  
  #introduction p,
  .band-member p {
    padding: 0 1rem;
  }
  #mobile-nav {
    width: 30%;
  }
  #mobile-nav a {
    font-size: 95%;
    font-weight: bold;
  }

  #mobile-nav {
    width: 100%;
    text-align: right;
    margin-right: 0rem;
    overflow: hidden; 
  }
  #mobile-sidebar ul {
    margin: 0 -3rem;
  }

  #about-rory img {
    width: 90vw;
  }

  #songs-list li img {
    padding: 0rem 0.5rem;
  }

  #Favourite-Artist {
    font-size: 100%;
    color: #080000;
  }
}

@media screen and (max-width: 2000px) {
  #introduction img {
    width: 200px;
    height: 150px;
    border-radius: 1rem;
  }
  
  
  #rory-strat img {
    width: 40vw;
    height: auto;
  }

  #rory-strat p {
    padding: 0 4rem;
  }

  #songs img {
    width: 20vw;
    height: auto;
  }
}
