@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

* {
  color: white;
  font-family: "platypi" , sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #080000;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  position: relative;
}

hr{
  color: grey;
  width: 100%;
}

.active {
  text-decoration: underline;
}

nav {
  background-color: #a8a6a39a;
  position: fixed;
  width: 100%;
  padding: 0.5rem 1rem;
  margin: 0;
  margin-bottom: 1rem;
  z-index: 1;
}
#nav-bar {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav a {
  margin-right: 4rem;
  text-decoration: none;
  font-size: 130%;
}

nav img {
  width: 100px;
  margin-top: 0.5rem;
}

#mobile-nav {
  width: 100%;
  text-align: right;
  margin-right: 2rem;
  display: none;
}
#mobile-nav i {
  color: white;
  font-size: 200%;
}

#mobile-sidebar {
  margin-right: 0;
}

#mobile-sidebar ul {
  display: flex;
  flex-direction: column;
  margin-right: -2rem;
}
#mobile-sidebar li {
  margin-top: 1rem;
}

#introduction{
  text-align: center;
  margin-top: 6rem;
}
#introduction span{
  color: #e2a85d;
}
#introduction p{
  padding: 0 10rem;
  font-size: 140%;
}
#introduction img{
  width: 100%;
  width: 200px;
  height: auto;
  border-radius: 1rem;
}

#band-members{
  text-align: center;
}
#members{
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-bottom: 5rem;
}
.band-member img{
  width: 100%;
  width: 150px;
  height: auto;
}
.band-member p{
  max-width: 100%;
  width: 200px;
  padding: 0 5rem;
}

footer {
  background-color: #b3afac9f;
  width: 100%;
  position: absolute;
  padding-bottom: .5rem;
  bottom: 0;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #mobile-nav {
    display: block;
  }
  #mobile-sidebar {
    display: none;
  }
  #menuExit {
    display: none;
  }

  #desktop-nav {
    display: none;
  }
}
